select, input{
    -webkit-appearance: none;
    appearance: none;
    padding: 1em 1.125em;
    color: var(--color-grey);
    width: 100%;
    font-size: 1em;
    line-height: 1.2;

    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    text-transform: capitalize;
    background: var(--color-white);

    &:focus, &:hover, &:active{
        background: var(--color-focused);
        outline: none;
        box-shadow: var(--shadow-hover);
    }
}

select{
    min-width: 80px;
}

input{
    min-width: 80px;
    color: var(--color-text);
}