:root {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height-default);
  font-weight: var(--font-wight-default);

  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

body,
html {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg);
}

#__next {
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  padding: 0 30px;
  max-width: var(--content-max-with);
  margin: 0 auto;
}

a {
  color: var(--color-text);
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: var(--color-text);
  }
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: var(--color-text);
  margin-top: 0;
}
.title_page {
  font-size: var(--font-heading);
  font-weight: 700;
}

.title_section {
  font-size: var(--font-title);
  margin-bottom: 1.5em;
}

.title_component {
  font-size: var(--font-subtitle);
}

.small {
  font-size: var(--font-small);
}

.hide_mobile {
  display: none;
}

.visible_mobile {
  display: block;
}

.page_section {
  position: relative;
  display: block;
  padding: 2.5em 0 6.25em;
}

@media (min-width: 768px) {
  .hide_mobile {
    display: inline-block;
  }

  .visible_mobile {
    display: none;
  }
}

// @media (min-width: 1440px) {
//   .container {
//     max-width: 1440px;
//   }
// }
